{% extends 'base.html' %}


{%block content%}
<h1 style="margin-top:10px">
    Simulações de Venda
</h1>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
              {%for venda in vendas%}
                {%if forloop.first%}
                  <H1>
                      {{venda.imovel.localizacao}}
                  </H1>
                {%endif%}
              {%endfor%}
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Tipo do Imóvel</th>
                        <th scope="col">Forma de Pagamento</th>
                        <th scope="col">Cliente</th>    
                        <th scope="col">Corretor</th>    
                        <th scope="col">Valor da Comissão</th>   
                        <th scope="col">Ações</th>    
                      </tr>
                    </thead>
                    <tbody>
                    {%for venda in vendas%}
                      <tr>
                        <td>{{venda.imovel.tipo}}</td>
                        <td>{{venda.condicao_pagamento}}</td>
                        <td>{{venda.cliente.nome}}</td>
                        <td>{{venda.corretor}}</td>
                        <td>R${{venda.comissao}}</td>    
                        <td>
                            <a href="{% url 'imprimir-recibo' venda.id %}" class="btn btn-secondary" title="Imprimir Recibo"  id="">
                              <i class="fas fa-file-pdf"></i>                            
                            </a>
                        </td>
                        
                      </tr>
                      
                    {%endfor%}
                    </tbody>
                  </table>
            </div>
          </div>
    </div>
</div>




{%endblock%}

{%block scripts%}

{%endblock%}

