<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    
    <title>Login</title>
  </head>
    <style>
        ul.errorlist {display:none;};
    </style>

<header>
    <div class="align-middle text-center">
        <div class="content">
            <ul class="nav navbar-nav navbar-right">
                    <li class="nome" style="font-size:20px">
                        Venda de Imóveis
                    </li>
                </a>
            </ul>
        </div>
    </div>
</header>

  <body>
    <div class="container-fluid h-100" style="margin-top:20px">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <div class="form-group">
                            <button type="submit" class="btn btn-info btn-lg btn-block" style="background-color:#4f616b">Login</button>
                        </div>
                    </form>
                    {%if form.errors%}
                        <p class="alert alert-danger">
                            Usuário e/ou senha incorretos.
                        </p>
                    {%endif%}
                </div>
            </div>
        </div>

        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>